* {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
}
table,
th,
td {
  border-bottom: solid 1px black;
}
table {
  width: 70%;
  margin: auto;
  border: solid 1px gray;
  border-spacing: 0px;
}
th {
  background-color: steelblue;
  color: black;
}

td {
  background-color: bisque;
  color: black;
}
td:nth-child(3) {
  border-left: solid 1px gray;
}
